body {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    font-size: 28pt;
    text-align: center;
    left: 50%;
}

#centered-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 5%;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}   

label {
    position: sticky;
    font-size: 18px;
    border: 2px solid cadetblue;
    padding: 4px;
}

#flashcards_pan {
    box-shadow: 5px 5px 5px rgba(144, 144, 144, 0.64);
    transition: transform 0.5s;
    transform-style: preserve-3d;
    width: 240px;
    height: 240px;
    background-color: rgb(255, 145, 0);
    border-right: 2px solid rgba(187, 175, 255, 0.64);
    border-bottom: 2px solid rgba(127, 133, 238, 0.64);
}

#flashcards_pan img {
    width: 100%;
    height: 100%;
}



#flashcards_pan:hover {
    transform: scale(110%, 110%);
}

.homebtn {
    background-color: rgb(192, 186, 198);
    border: none;
    border-radius: 35px;
    left: 5%;
    top: 10%;
    position: absolute;
    width: 75px;
    height: 50px;
}

.homebtn:hover {
     background-color: rgb(127, 118, 135);
}