body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    width: 30%;
    height: 30px;
}
.horizontal {
    padding: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


#centered-vertical {
    border: 1px solid;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    height: 50px;
    width: 175px;
    background-color: rgb(0, 194, 0);
    position: relative;
    font-style: bold;
    border: none;
    border-radius: 5px;
    font-size: 18pt;
}

button:hover {
    background-color: rgb(41, 102, 41);
}

.homebtn {
    background-color: rgb(192, 186, 198);
    border: none;
    border-radius: 35px;
    left: 5%;
    top: 10%;
    position: absolute;
    width: 75px;
    height: 50px;
    font-size: 14px;
}

.homebtn:hover {
     background-color: rgb(127, 118, 135);
}

