body {
    transition: background-color 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-top: 50;
    padding-left: 20;
    padding-left: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    -ms-user-select: none;
}

#card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    padding: 25px;
    width: 40%;
    height: 35%;
    left: 30%;
    top: 30%;
    left: left;
    top: top;
    position: absolute;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(191, 191, 191);
    text-align: center;
}
#card:hover {
    border: 5px solid salmon;
}
#card label {
    font-size: 20pt;
    font-family: cursive;
}
#yesbtn, #nobtn {
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-style: bold;
    font-size: 24pt;
    color: white;
}
.horizontal {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: center;
    align-items: center;
}
#verify_question {
    transform: translate(-50%, 0);
    width: 55%;
    top: 80%;
    left: 50%;
    visibility: hidden;
}

#yesbtn {
    background-color: rgb(10, 197, 10);
}
#yesbtn:hover {
    background-color: rgb(0, 147, 0);
}
#nobtn {
    background-color: rgb(212, 5, 5);
}
#nobtn:hover {
    background-color: rgb(147, 0, 0);
}
#num_label {
    right: 5%;
    top: 5%;
    position: absolute;
    font-style: bold;
    font-size: 32pt;
}
.vertical {
    gap: 30px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

#endscreen {
    visibility: hidden;
    box-shadow: 5px 5px 5px rgba(144, 144, 144, 0.64);;
    font-family: cursive;
    font-size: 24pt;
    left: 30%;
    top: 30%;
    border: 6px solid cadetblue;
    border-radius: 18px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#endscreen h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#endscreen div {
    width: 100%;
}

#endscreen button {
    height: 75px;
    width: 225px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(0, 194, 0);
    position: relative;
    font-style: bold;
    border: none;
    border-radius: 5px;
    font-size: 24pt;
}

#endscreen button:hover {
    background-color: rgb(41, 102, 41);
}

.homebtn {
    background-color: rgb(192, 186, 198);
    border: none;
    border-radius: 35px;
    left: 5%;
    top: 10%;
    position: absolute;
    width: 75px;
    height: 50px;
}

.homebtn:hover {
     background-color: rgb(127, 118, 135);
}